.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: inherit;
}

.header .title {
  font-size: 22px;
  margin-left: 50px;
  margin: auto;
}

.header .illustration {
  width: 50%;
  margin-top: 40px;
}

.header .title button {
  border: solid 1px black;
  padding: 10px 30px;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-family: Rubik;
  outline: none;
  transition: background 1s ease;
}

.header .title button:hover {
  cursor: pointer;
  background-color: tomato;
  border: solid 1px tomato;
  color: white;
}

.header img {
  transform: scale(0.8);
  margin-right: -250px;
  width: 100%;
}

@media (max-width: 1100px) {
  .header {
    padding: 50px 0;
    margin-bottom: 100px;
    flex-direction: column-reverse;
  }
  .header .illustration img {
    transform: scale(1.2);
  }
  .header .title {
    margin-top: 0;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
