.homepage {
  margin-bottom: 80px;
}

.homepage .header {
  height: auto;
  padding: 10px 0;
  width: 100%;
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .header img {
  transform: scale(0.5);
  border-radius: 50%;
  border: solid 1px black;
  padding: 5px;
  box-sizing: border-box;
}

.homepage .header .intro_text {
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  color: seagreen;
  margin-top: -40px;
}

@media (max-width: 280px) {
  .homepage .header img {
    transform: scale(0.3);
  }
  .homepage .header .intro_text {
    margin-top: -100px;
  }
}
