.category_items {
	margin: auto;
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 85%;
}

.loading_view {
	margin-top: 100px;
	text-align: center;
}

.category .msg_div {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: skyblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: white;
	height: 35px;
	vertical-align: middle;
	z-index: 100;
	font-size: 14px;
}

.category .msg_div button {
	border: none;
	background: none;
	outline: none;
	color: white;
}

.category button:hover {
	cursor: pointer;
}

@media (max-width: 600px) {
	.category_items {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
